#game-table .player-panel,
#game-table .dealer-panel {
  width: 150px;
  height: 150px;
}
#game-table .player-panel {
  background-color: #12a3ee;
  border-radius: 5px;
  border: 4px solid transparent;
  position: absolute;
}
#game-table .player-panel.active {
  border-color: #ed2384;
}
#game-table .dealer-panel {
  position: absolute;
  top: 440px;
  left: 350px;
  border: 2px solid #000;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom: none;
  text-align: center;
  font-size: 200%;
  padding-top: 50px;
}
#game-table #player-1 {
  top: 410px;
  left: 170px;
}
#game-table #player-2 {
  top: 310px;
  left: 0px;
}
#game-table #player-3 {
  top: 130px;
  left: 0px;
}
#game-table #player-4 {
  top: 30px;
  left: 170px;
}
#game-table #player-5 {
  top: 0;
  left: 350px;
}
#game-table #player-6 {
  top: 30px;
  left: 530px;
}
#game-table #player-7 {
  top: 130px;
  left: 700px;
}
#game-table #player-8 {
  top: 310px;
  left: 700px;
}
#game-table #player-9 {
  top: 410px;
  left: 530px;
}
