/* Player panel measurements */
/* Vertical offsets between player panels */
/* Horizontal gaps between player panels */
/* Vertical gap between upper and lower half of player panels */
/* Horizontal center of table to align stuff centrally */
/* Measurements of the cards and the board */
/* Measurements of the pot panel */
/* Action controls */
/* Colors */
#game-area {
  margin: 20px 0;
}
#game-table .player-panel,
#game-table .dealer-panel {
  width: 180px;
  height: 130px;
  padding: 0 !important;
}
#game-table .player-panel {
  background-color: #12a3ee;
  border-radius: 5px;
  position: absolute;
  color: #ffffff;
}
#game-table .player-panel .player-name {
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 3px;
}
#game-table .player-panel .player-chip-stack {
  position: absolute;
  font-size: 13px;
  top: 18px;
  left: 3px;
}
#game-table .player-panel .button-badge {
  width: 20px;
  height: 20px;
}
#game-table .player-panel .small-blind-button {
  background: url('/img/buttons/small_blind.png');
  background-size: 20px 20px;
}
#game-table .player-panel .big-blind-button {
  background: url('/img/buttons/big_blind.png');
  background-size: 20px 20px;
}
#game-table .player-panel .dealer-button {
  background: url('/img/buttons/dealer.png');
  background-size: 20px 20px;
}
#game-table .player-panel .check-fold-button {
  position: absolute;
  top: 35px;
  left: 3px;
  width: 85px;
  height: 40px;
}
#game-table .player-panel .call-button {
  position: absolute;
  top: 35px;
  left: 92px;
  width: 85px;
  height: 40px;
}
#game-table .player-panel .raise-button {
  position: absolute;
  top: 78px;
  left: 3px;
  width: 85px;
  height: 40px;
}
#game-table .player-panel .raise-amount-txt {
  position: absolute;
  top: 78px;
  left: 92px;
  width: 85px;
  height: 40px;
}
#game-table .dealer-panel {
  position: absolute;
  top: 485px;
  left: 410px;
  border: 2px solid #000;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom: none;
  text-align: center;
  font-size: 200%;
  padding-top: 50px;
}
#game-table #player-1 {
  top: 455px;
  left: 200px;
}
#game-table #player-2 {
  top: 335px;
  left: 0px;
}
#game-table #player-3 {
  top: 150px;
  left: 0px;
}
#game-table #player-4 {
  top: 30px;
  left: 200px;
}
#game-table #player-5 {
  top: 0;
  left: 410px;
}
#game-table #player-6 {
  top: 30px;
  left: 620px;
}
#game-table #player-7 {
  top: 150px;
  left: 820px;
}
#game-table #player-8 {
  top: 335px;
  left: 820px;
}
#game-table #player-9 {
  top: 455px;
  left: 620px;
}
#game-table #community-cards {
  position: absolute;
  top: 215px;
  left: 245px;
  width: 510px;
  height: 130.68px;
}
#game-table #community-cards .card {
  background-color: #eee;
  position: absolute;
  width: 90px;
  height: 130.68px;
}
#game-table #community-cards #flop-1 {
  top: 0;
  left: 0;
  background: url('/img/10_of_hearts.svg');
  background-size: 90px 130.68px;
}
#game-table #community-cards #flop-2 {
  top: 0;
  left: 100px;
  background: url('/img/jack_of_hearts.svg');
  background-size: 90px 130.68px;
}
#game-table #community-cards #flop-3 {
  top: 0;
  left: 200px;
  background: url('/img/queen_of_hearts.svg');
  background-size: 90px 130.68px;
}
#game-table #community-cards #turn {
  top: 0;
  left: 310px;
  background: url('/img/king_of_hearts.svg');
  background-size: 90px 130.68px;
}
#game-table #community-cards #river {
  top: 0;
  left: 420px;
  background: url('/img/ace_of_hearts.svg');
  background-size: 90px 130.68px;
}
#game-table #pot-panel {
  position: absolute;
  top: 375.68px;
  left: 245px;
  width: 510px;
  height: 80px;
  text-align: center;
  font-size: 130%;
}
