.card(data-ng-click='showFlopCards()', data-ng-class="{ 'assigned': card != null, 'unassigned': card == null }")
	img(src='/img/assign_card_hover.png')
	img.vanishing(src='{{getDisplayImagePath()}}')
