.row.cardpicker
	.col-xs-10
		.row
			.col-xs-12
				strong Suit
		.row
			.col-xs-12
				.btn-group.suit-btn-group(data-toggle='buttons')
					label.btn.btn-default(data-ng-repeat='suit in suits')
						input.suit-radio-button(type='radio', name='suit', value='{{suit.code}}')
						span.card-icon.red(data-ng-bind='suit.icon', data-ng-if='suit.color == "red"')
						span.card-icon.black(data-ng-bind='suit.icon', data-ng-if='suit.color == "black"')
						span.space5
						span.suit-name(data-ng-bind='suit.name')
		.row.top10
			.col-xs-12
				strong Rank
		.row
			.col-xs-12
				.btn-group.rank-btn-group(data-toggle='buttons')
					label.btn.btn-default(data-ng-repeat='rank in ranks')
						input.rank-radio-button(type='radio', name='rank', value='{{rank.code}}')
						span.rank-name(data-ng-bind='rank.abbreviation')
	.col-xs-2.no-padding-left
		img.card-thumbnail(src='/img/card_placeholder.png')
