#community-cards
	data-board-card#flop-1.flop(data-ng-model='cards[0]')
	data-board-card#flop-2.flop(data-ng-model='cards[1]')
	data-board-card#flop-3.flop(data-ng-model='cards[2]')
	data-board-card#turn(data-ng-model='cards[3]')
	data-board-card#river(data-ng-model='cards[4]')
