#community-cards
	data-board-card#flop-1.flop(data-ng-model='cards[0]', data-ng-click='showFlopCards()')
	data-board-card#flop-2.flop(data-ng-model='cards[1]', data-ng-click='showFlopCards()')
	data-board-card#flop-3.flop(data-ng-model='cards[2]', data-ng-click='showFlopCards()')
	data-board-card#turn.turn(data-ng-model='cards[3]', data-ng-click='showTurnCard()')
	data-board-card#river.river(data-ng-model='cards[4]', data-ng-click='showRiverCard()')
