.row
	.col-xs-12
		h1 Spiel
.row
	.col-xs-12#game-table
		.player-panel#player-1
		.player-panel#player-2
		.player-panel#player-3
		.player-panel#player-4
		.player-panel#player-5
		.player-panel#player-6
		.player-panel#player-7
		.player-panel#player-8
		.player-panel#player-9
		.dealer-panel DEALER
