#game-table
	data-player-panel#player-1(seat-nr='1')
	data-player-panel#player-2(seat-nr='2')
	data-player-panel#player-3(seat-nr='3')
	data-player-panel#player-4(seat-nr='4')
	data-player-panel#player-5(seat-nr='5')
	data-player-panel#player-6(seat-nr='6')
	data-player-panel#player-7(seat-nr='7')
	data-player-panel#player-8(seat-nr='8')
	data-player-panel#player-9(seat-nr='9')
	.dealer-panel
		span.dealer-text DEALER
	#community-cards
		.card#flop-1.unassigned(data-ng-click='showFlopCards()') // or .assigned
			img(src='/img/assign_card_hover.png')
			img.vanishing(src='/img/assign_card.png')
		.card#flop-2.unassigned
			img(src='/img/assign_card_hover.png')
			img.vanishing(src='/img/assign_card.png')
		.card#flop-3.unassigned
			img(src='/img/assign_card_hover.png')
			img.vanishing(src='/img/assign_card.png')
		.card#turn.unassigned
			img(src='/img/assign_card_hover.png')
			img.vanishing(src='/img/assign_card.png')
		.card#river.unassigned
			img(src='/img/assign_card_hover.png')
			img.vanishing(src='/img/assign_card.png')
	#pot-panel Pot: 430

#control-panel
	.form-group
		button.btn.btn-success.form-control(type='button', data-ng-click='addPlayer()', data-ng-disabled='gameStarted') Add player
	.form-group
		button.btn.btn-primary.form-control(type='button', data-ng-click='startGame()', data-ng-disabled='gameStarted') Start game
	.form-group
		button.btn.btn-warning.form-control(type='button', data-ng-click='nextHand()', data-ng-if='gameStarted') Next hand
	.panel.panel-primary(data-ng-if='handNr')
		.panel-heading
			h2.panel-title Game panel
		.panel-body
			.hand-nr(data-ng-bind='handNr | handNr')
			.betting-round-info
				span(data-ng-bind='currentBettingRound | bettingRound')  
				button.btn.btn-sm.btn-success(data-ng-click='advanceBettingRound()') Next
			.blind-info Blinds: 
				strong(data-ng-bind='currentBlinds | blinds')
		.panel-footer Time left in level: 
			strong 10:34
			span.pull-right
				button.btn.btn-xs.btn-info(type='button') Pause
