.player-panel
	// Player name
	span.player-name(data-ng-bind='player.name')
	// Delete player button
	button.btn.btn-xs.btn-danger.player-delete-button.pull-right(data-ng-if='player && !isGameStarted()', data-ng-click='deletePlayer()') X
	// Role buttons
	span.pull-right.button-badge.dealer-button(data-ng-if='isDealer')
	span.pull-right.button-badge.small-blind-button(data-ng-if='isSmallBlind')
	span.pull-right.button-badge.big-blind-button(data-ng-if='isBigBlind')

	// Stack
	span.player-chip-stack(data-ng-bind='player.stack | stackSize')

	// Action buttons and controls
	.action-controls(data-ng-if='player && isGameStarted()')
		button.form-control.btn.btn-sm.btn-primary.check-fold-button CHECK
		button.form-control.btn.btn-sm.btn-warning.call-button CALL
		button.form-control.btn.btn-sm.btn-danger.raise-button RAISE
		input.form-control.raise-amount-txt(type='text', data-ng-model='raiseAmount')
