/* Player panel measurements */
@playerPanelWidth: 180px;
@playerPanelHeight: 130px;
@buttonWidth: 20px;
@buttonHeight: @buttonWidth;

/* Vertical offsets between player panels */
@firstVerticalOffset: 120px;
@secondVerticalOffset: 30px;
@allVerticalOffsets: @firstVerticalOffset + @secondVerticalOffset;

/* Horizontal gaps between player panels */
@firstHorizontalGap: 20px;
@secondHorizontalGap: 30px;
@allHorizontalGaps: @firstHorizontalGap + @secondHorizontalGap;

/* Vertical gap between upper and lower half of player panels */
@midwayGapHeight: 55px;

/* Horizontal center of table to align stuff centrally */
@horizontalCenter: @allHorizontalGaps + 2.5 * @playerPanelWidth;

/* Measurements of the cards and the board */
@cardWidth: 90px;
@cardHeight: (726 / 500) * @cardWidth;
// Gap between single cards of the flop
@flopGap: 10px;
// Gaps bewteen the different streets
@streetGap: 20px;
@boardWidth: 5 * @cardWidth + 2 * @streetGap + 2 * @flopGap;
@boardHeight: @cardHeight;
@boardTop: @allVerticalOffsets + @playerPanelHeight / 2;
@boardLeft: @horizontalCenter - (@boardWidth / 2);

/* Measurements of the pot panel */
@potTop: @boardTop + @cardHeight + 30px;
@potLeft: @boardLeft;
@potWidth: @boardWidth;
@potHeight: 80px;

/* Action controls */
@actionControlWidth: @playerPanelWidth / 2 - 5px;
@actionControlHeight: 40px;

/* Colors */
@playerPanelThemeColor: #12a3ee;
@playerPanelFontColor: #fff;

#game-area {
	margin: 20px 0;
}

#game-table {

	.player-panel, .dealer-panel {
		width: @playerPanelWidth;
		height: @playerPanelHeight;
		padding: 0 !important;
	}

	.player-panel {
		background-color: @playerPanelThemeColor;
		border-radius: 5px;
		position: absolute;
		color: @playerPanelFontColor;

		.player-name {
			font-size: 15px;
			font-weight: 600;
			position: absolute;
			top: 0;
			left: 3px;
		}

		.player-chip-stack {
			position: absolute;
			font-size: 13px;
			top: 18px;
			left: 3px;
		}

		.button-badge {
			width: @buttonWidth;
			height: @buttonHeight;
		}

		.small-blind-button {
			background: url('/img/buttons/small_blind.png');
			background-size: @buttonWidth @buttonHeight;
		}

		.big-blind-button {
			background: url('/img/buttons/big_blind.png');
			background-size: @buttonWidth @buttonHeight;
		}

		.dealer-button {
			background: url('/img/buttons/dealer.png');
			background-size: @buttonWidth @buttonHeight;
		}

		.check-fold-button {
			position: absolute;
			top: 35px;
			left: 3px;
			width: @actionControlWidth;
			height: @actionControlHeight;
		}

		.call-button {
			position: absolute;
			top: 35px;
			left: @playerPanelWidth / 2 + 2px;
			width: @actionControlWidth;
			height: @actionControlHeight;
		}

		.raise-button {
			position: absolute;
			top: 78px;
			left: 3px;
			width: @actionControlWidth;
			height: @actionControlHeight;
		}

		.raise-amount-txt {
			position: absolute;
			top: 78px;
			left: @playerPanelWidth / 2 + 2px;
			width: @actionControlWidth;
			height: @actionControlHeight;
		}
	}

	.dealer-panel {
		position: absolute;
		top: 2 * @allVerticalOffsets + @playerPanelHeight + @midwayGapHeight;
		left: @allHorizontalGaps + 2 * @playerPanelWidth;
		border: 2px solid #000;
		border-top-left-radius: 60px;
		border-top-right-radius: 60px;
		border-bottom: none;
		text-align: center;
		font-size: 200%;
		padding-top: 50px;
	}

	#player-1 {
		top: @allVerticalOffsets + @firstVerticalOffset + @playerPanelHeight + @midwayGapHeight;
		left: @firstHorizontalGap + @playerPanelWidth;
	}

	#player-2 {
		top: @allVerticalOffsets + @playerPanelHeight + @midwayGapHeight;
		left: 0px;
	}

	#player-3 {
		top: @allVerticalOffsets;
		left: 0px;
	}

	#player-4 {
		top: @secondVerticalOffset;
		left: @firstHorizontalGap + @playerPanelWidth;
	}

	#player-5 {
		top: 0;
		left: @allHorizontalGaps + 2 * @playerPanelWidth;
	}

	#player-6 {
		top: @secondVerticalOffset;
		left: @allHorizontalGaps + 3 * @playerPanelWidth + @secondHorizontalGap;
	}

	#player-7 {
		top: @allVerticalOffsets;
		left: 2 * @allHorizontalGaps + 4 * @playerPanelWidth;
	}

	#player-8 {
		top: @allVerticalOffsets + @playerPanelHeight + @midwayGapHeight;
		left: 2 * @allHorizontalGaps + 4 * @playerPanelWidth;
	}

	#player-9 {
		top: @allVerticalOffsets + @firstVerticalOffset + @playerPanelHeight + @midwayGapHeight;
		left: @allHorizontalGaps + 3 * @playerPanelWidth + @secondHorizontalGap;
	}

	#community-cards {
		position: absolute;
		top: @boardTop;
		left: @boardLeft;
		width: @boardWidth;
		height: @boardHeight;

		.card {
			background-color: #eee;
			position: absolute;
			width: @cardWidth;
			height: @cardHeight;
		}

		#flop-1 {
			top: 0;
			left: 0;
			background: url('/img/10_of_hearts.svg');
			background-size: @cardWidth @cardHeight;
		}

		#flop-2 {
			top: 0;
			left: @cardWidth + @flopGap;
			background: url('/img/jack_of_hearts.svg');
			background-size: @cardWidth @cardHeight;
		}

		#flop-3 {
			top: 0;
			left: 2 * @cardWidth + 2 * @flopGap;
			background: url('/img/queen_of_hearts.svg');
			background-size: @cardWidth @cardHeight;
		}

		#turn {
			top: 0;
			left: 3 * @cardWidth + 2 * @flopGap + @streetGap;
			background: url('/img/king_of_hearts.svg');
			background-size: @cardWidth @cardHeight;
		}

		#river {
			top: 0;
			left: 4 * @cardWidth + 2 * @flopGap + 2 * @streetGap;
			background: url('/img/ace_of_hearts.svg');
			background-size: @cardWidth @cardHeight;
		}

	}

	#pot-panel {
		position: absolute;
		top: @potTop;
		left: @potLeft;
		width: @potWidth;
		height: @potHeight;
		text-align: center;
		font-size: 130%;
	}

}
