/* Global measurements */
@siteMarginHorizontal: 30px;
@siteMarginVertical: 20px;

/* Player panel measurements */
@playerPanelWidth: 180px;
@playerPanelHeight: 160px;
@buttonWidth: 25px;
@buttonHeight: @buttonWidth;
@assignCardWidth: 16px;
@assignCardHeight: @assignCardWidth;
// Action controls
@actionControlWidth: @playerPanelWidth / 2 - 5px;
@actionControlHeight: 35px;
// Font sizes
@playerNameFontSize: 17px;
@chipStackFontSize: 14px;

/* Vertical offsets between player panels */
@firstVerticalOffset: 120px;
@secondVerticalOffset: 30px;
@allVerticalOffsets: @firstVerticalOffset + @secondVerticalOffset;

/* Horizontal gaps between player panels */
@firstHorizontalGap: 10px;
@secondHorizontalGap: 15px;
@allHorizontalGaps: @firstHorizontalGap + @secondHorizontalGap;

/* Vertical gap between upper and lower half of player panels */
@midwayGapHeight: 35px;

/* Horizontal center of table to align stuff centrally */
@horizontalCenter: @allHorizontalGaps + 2.5 * @playerPanelWidth;

/* Measurements of the cards and the board */
@cardWidth: 90px;
@cardHeight: (726 / 500) * @cardWidth;
// Gap between single cards of the flop
@flopGap: 10px;
// Gaps bewteen the different streets
@streetGap: 20px;
@boardWidth: 5 * @cardWidth + 2 * @streetGap + 2 * @flopGap;
@boardHeight: @cardHeight;
@boardTop: @allVerticalOffsets + @playerPanelHeight / 2;
@boardLeft: @horizontalCenter - (@boardWidth / 2);

/* Measurements of the pot panel */
@potTop: @boardTop + @cardHeight + 30px;
@potLeft: @boardLeft;
@potWidth: @boardWidth;
@potHeight: 80px;

/* Measurements of control panel */
@controlPanelTop: @siteMarginVertical;
@controlPanelLeft: 5 * @playerPanelWidth + 2 * @allHorizontalGaps + 30px + @siteMarginHorizontal;
@controlPanelWidth: 250px;

/* Colors */
@iceBlue: #12a3ee;
@mintGreen: #28d444;
@playerPanelThemeColor: @iceBlue;
@playerPanelFontColor: #fff;
@playerPanelTurnColor: #3FCF74;

// Angular bootstrap requires this
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#game-table {

	position: absolute;
	top: @siteMarginVertical;
	left: @siteMarginHorizontal;

	.player-panel, .dealer-panel {
		width: @playerPanelWidth;
		height: @playerPanelHeight;
		padding: 0 !important;
	}

	.player-panel {
		background-color: @playerPanelThemeColor;
		border-radius: 5px;
		position: absolute;
		color: @playerPanelFontColor;

		.player-name {
			font-size: @playerNameFontSize;
			font-weight: 600;
			position: absolute;
			top: 0px;
			left: 3px;
		}

		.player-chip-stack {
			position: absolute;
			font-size: @chipStackFontSize;
			top: 3px + @playerNameFontSize;
			left: 3px;
		}

		.button-badge, .assign-card-badge {
			margin: 3px 3px 0 0;
		}

		.button-badge {
			width: @buttonWidth;
			height: @buttonHeight;
		}

		.assign-card-badge {
			width: @assignCardWidth;
			height: @assignCardHeight;
		}

		.small-blind-button {
			background: url('/img/buttons/small_blind.png');
			background-size: @buttonWidth @buttonHeight;
		}

		.big-blind-button {
			background: url('/img/buttons/big_blind.png');
			background-size: @buttonWidth @buttonHeight;
		}

		.dealer-button {
			background: url('/img/buttons/dealer.png');
			background-size: @buttonWidth @buttonHeight;
		}

		.current-action {
			position: absolute;
			top: 12px + @playerNameFontSize + @chipStackFontSize;
			left: 0;
			width: 100%;
			height: 34px;
			font-size: 20px;
			text-align: center;
			padding: 3px 0;
			background-color: lighten(@playerPanelThemeColor, 45%);
			color: @playerPanelThemeColor;
		}

		// Action controls
		.check-fold-button {
			position: absolute;
			top: @playerPanelHeight - 2 * @actionControlHeight - 6;
			left: 3px;
			width: @actionControlWidth;
			height: @actionControlHeight;
		}

		.call-button {
			position: absolute;
			top: @playerPanelHeight - 2 * @actionControlHeight - 6;
			left: @playerPanelWidth / 2 + 2px;
			width: @actionControlWidth;
			height: @actionControlHeight;
		}

		.raise-button {
			position: absolute;
			top: @playerPanelHeight - @actionControlHeight - 3;
			left: @playerPanelWidth / 2 + 2px;
			width: @actionControlWidth;
			height: @actionControlHeight;
		}

		.raise-amount-txt {
			position: absolute;
			top: @playerPanelHeight - @actionControlHeight - 3;
			left: 3px;
			width: @actionControlWidth;
			height: @actionControlHeight;
			text-align: center;
		}
	}

	.player-panel.has-turn {
		background-color: @playerPanelTurnColor;
	}

	.dealer-panel {
		position: absolute;
		top: 2 * @allVerticalOffsets + @playerPanelHeight + @midwayGapHeight;
		left: @allHorizontalGaps + 2 * @playerPanelWidth;
		border: 2px solid #000;
		border-top-left-radius: 60px;
		border-top-right-radius: 60px;
		border-bottom: none;
		text-align: center;
		font-size: 200%;

		.dealer-text {
			position: relative;
			top: 30px;
		}
	}

	#player-1 {
		top: @allVerticalOffsets + @firstVerticalOffset + @playerPanelHeight + @midwayGapHeight;
		left: @firstHorizontalGap + @playerPanelWidth;
	}

	#player-2 {
		top: @allVerticalOffsets + @playerPanelHeight + @midwayGapHeight;
		left: 0px;
	}

	#player-3 {
		top: @allVerticalOffsets;
		left: 0px;
	}

	#player-4 {
		top: @secondVerticalOffset;
		left: @firstHorizontalGap + @playerPanelWidth;
	}

	#player-5 {
		top: 0;
		left: @allHorizontalGaps + 2 * @playerPanelWidth;
	}

	#player-6 {
		top: @secondVerticalOffset;
		left: @allHorizontalGaps + 3 * @playerPanelWidth + @secondHorizontalGap;
	}

	#player-7 {
		top: @allVerticalOffsets;
		left: 2 * @allHorizontalGaps + 4 * @playerPanelWidth;
	}

	#player-8 {
		top: @allVerticalOffsets + @playerPanelHeight + @midwayGapHeight;
		left: 2 * @allHorizontalGaps + 4 * @playerPanelWidth;
	}

	#player-9 {
		top: @allVerticalOffsets + @firstVerticalOffset + @playerPanelHeight + @midwayGapHeight;
		left: @allHorizontalGaps + 3 * @playerPanelWidth + @secondHorizontalGap;
	}

	#community-cards {
		position: absolute;
		top: @boardTop;
		left: @boardLeft;
		width: @boardWidth;
		height: @boardHeight;

		.card {
			background-color: #eee;
			position: absolute;
			width: @cardWidth;
			height: @cardHeight;
		}

		#flop-1 {
			top: 0;
			left: 0;
			background: url('/img/3_of_diamonds.svg');
			background-size: @cardWidth @cardHeight;
		}

		#flop-2 {
			top: 0;
			left: @cardWidth + @flopGap;
			background: url('/img/3_of_spades.svg');
			background-size: @cardWidth @cardHeight;
		}

		#flop-3 {
			top: 0;
			left: 2 * @cardWidth + 2 * @flopGap;
			background: url('/img/king_of_diamonds.svg');
			background-size: @cardWidth @cardHeight;
		}

		#turn {
			top: 0;
			left: 3 * @cardWidth + 2 * @flopGap + @streetGap;
			background: url('/img/7_of_hearts.svg');
			background-size: @cardWidth @cardHeight;
		}

		#river {
			top: 0;
			left: 4 * @cardWidth + 2 * @flopGap + 2 * @streetGap;
			background: url('/img/assign_card.png');
			background-size: @cardWidth @cardHeight;
		}

	}

	#pot-panel {
		position: absolute;
		top: @potTop;
		left: @potLeft;
		width: @potWidth;
		height: @potHeight;
		text-align: center;
		font-size: 130%;
	}

}

#control-panel {
	position: absolute;
	top: @controlPanelTop;
	left: @controlPanelLeft;
	width: @controlPanelWidth;
	margin-right: @siteMarginHorizontal;
}

.cardpicker {

	.card-thumbnail {
		height: 120px;
	}

}

// Utilities
.no-padding-left { padding-left: 0 !important; }
.red { color: red; }
.black { color: black; }
.green { color: green; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.space5 { margin-left: 5px; }
