
<form data-ng-submit="ok()">
  <div class="modal-header">
    <h3 class="modal-title">Hole cards of {{player.name}}</h3>
  </div>
  <div class="modal-body">
    <div data-ng-if="error" class="padding5 bg-danger rounded3"><span class="red glyphicon glyphicon-ban-circle"></span><span data-ng-bind="error.message" class="space5"></span></div>
    <h4>First card</h4>
    <div class="card1-area">
      <cardpicker data-ng-model="card1"></cardpicker>
    </div>
    <hr/>
    <h4 class="top20">Second card</h4>
    <div class="card2-area">
      <cardpicker data-ng-model="card2"></cardpicker>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-ng-click="cancel()" class="btn btn-danger">Cancel</button>
    <button type="submit" class="btn btn-primary">Save hole cards</button>
  </div>
</form>