
<div id="community-cards">
  <data-board-card id="flop-1" data-ng-model="cards[0]" data-ng-click="showFlopCards()" class="flop"></data-board-card>
  <data-board-card id="flop-2" data-ng-model="cards[1]" data-ng-click="showFlopCards()" class="flop"></data-board-card>
  <data-board-card id="flop-3" data-ng-model="cards[2]" data-ng-click="showFlopCards()" class="flop"></data-board-card>
  <data-board-card id="turn" data-ng-model="cards[3]" data-ng-click="showTurnCard()"></data-board-card>
  <data-board-card id="river" data-ng-model="cards[4]" data-ng-click="showRiverCard()"></data-board-card>
</div>