
<div id="game-table">
  <data-player-panel id="player-1" seat-nr="1"></data-player-panel>
  <data-player-panel id="player-2" seat-nr="2"></data-player-panel>
  <data-player-panel id="player-3" seat-nr="3"></data-player-panel>
  <data-player-panel id="player-4" seat-nr="4"></data-player-panel>
  <data-player-panel id="player-5" seat-nr="5"></data-player-panel>
  <data-player-panel id="player-6" seat-nr="6"></data-player-panel>
  <data-player-panel id="player-7" seat-nr="7"></data-player-panel>
  <data-player-panel id="player-8" seat-nr="8"></data-player-panel>
  <data-player-panel id="player-9" seat-nr="9"></data-player-panel>
  <div class="dealer-panel"><span class="dealer-text">DEALER</span></div>
  <data-community-cards data-ng-model="communityCards"></data-community-cards>
  <div id="pot-panel">Pot: 430</div>
</div>
<div id="control-panel">
  <div class="form-group">
    <button type="button" data-ng-click="addPlayer()" data-ng-disabled="gameStarted" class="btn btn-success form-control">Add player</button>
  </div>
  <div class="form-group">
    <button type="button" data-ng-click="startGame()" data-ng-disabled="gameStarted" class="btn btn-primary form-control">Start game</button>
  </div>
  <div class="form-group">
    <button type="button" data-ng-click="nextHand()" data-ng-if="gameStarted" class="btn btn-warning form-control">Next hand</button>
  </div>
  <div data-ng-if="handNr" class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Game panel</h2>
    </div>
    <div class="panel-body">
      <div data-ng-bind="handNr | handNr" class="hand-nr"></div>
      <div class="betting-round-info"><span data-ng-bind="currentBettingRound | bettingRound"> </span>
        <button data-ng-click="advanceBettingRound()" class="btn btn-sm btn-success">Next</button>
      </div>
      <div class="blind-info">Blinds: <strong data-ng-bind="currentBlinds | blinds"></strong></div>
    </div>
    <div class="panel-footer">Time left in level: <strong>10:34</strong><span class="pull-right">
        <button type="button" class="btn btn-xs btn-info">Pause</button></span></div>
  </div>
</div>